grafana_admin_password: ""
grafana_admin_username: ""
fortigate_api_token: ""
fortigate_url: ""
pve_url: ""
pve_user: ""
pve_token_name: ""
pve_token_value: ""
discord_webhook_url: ""
vm_node_exporter_url: ""