grafana:
  enabled: true
  admin:
    existingSecret: grafana-secret
    userKey: admin-user
    passwordKey: admin-password
  service:
    type: NodePort
    nodePort: 30000
  persistence:
    enabled: true
    type: sts
    accessModes:
      - ReadWriteOnce
    size: 5Gi
    finalizers:
      - kubernetes.io/pvc-protection
  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      folderAnnotation: grafana_folder
      provider:
        allowUiUpdates: false
        foldersFromFilesStructure: true

prometheus:
  enabled: true
  service:
    type: NodePort
    nodePort: 30001
  prometheusSpec:
    retention: 15d
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
    additionalScrapeConfigs:
      - job_name: 'fortigate'
        metrics_path: /probe
        static_configs:
          - targets:
            - {{ fortigate_url }}
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
            regex: '(?:.+)(?::\/\/)([^:]*).*'
          - target_label: __address__
            replacement: 'fortigate-exporter.monitoring:9710'
      - job_name: 'pve'
        metrics_path: /pve
        static_configs:
          - targets:
            - {{ pve_url }}
        params:
          module: [default]
          cluster: [1]
          node: [1]
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: 'pve-exporter.monitoring:9221'


alertmanager:
  enabled: true
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 5Gi

kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false

kubeProxy:
  enabled: false